h1 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: Khaki;
    text-align: center;
}

h1, h2, h3, p {
    font-family: Helvetica;
}

.item h2 {
    font-family: Helvetica
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
  }

  .price {
    font-family: Helvetica;
    font-weight: bold;
    color: Blue;
}

#frame {
    background-color: LightCoral;
}

#paint {
    background-color: SkyBlue;
}
